<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Error Page</h3>
{{#error}}
    <div class="error">{{error}}</div>
{{/error}}
</body>
</html>